<%= form_tag listings_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag :distance, options_for_select((10..100).step(10)) %>
    <%= select_tag :unit, options_for_select([["miles", :mi], ["km", :km]], :mi) %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<%= link_to "Create New Listing", new_listing_path %>
<ul>
  <% for listing in @listings %>
  <li>
   <%= image_tag listing.listing_images.first.photo.url(:thumb) %> | <%= link_to listing.name, listing %> | <%= listing.id %> |
  </li>

  <% end %>
</ul>