<%= link_to "Create New Listing", new_listing_path %>

<%= form_tag listings_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag :distance, options_for_select((10..100).step(10)) %>
    <%= select_tag :unit, options_for_select([["miles", :mi], ["km", :km]], :mi) %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>
<ul id="listings_list">
  <% for listing in @listings %>
  <li id="listing" class="clearfix">
   <%= image_tag listing.listing_images.first.photo.url(:thumb) %>  
   <div id="listingtitle"><h3><%= link_to listing.name, listing %></h3>
   <p><%= listing.city %><p>
      <% if can? :destroy, listing %>
        <%= link_to "destroy", listing, :method => :delete %>
      <% end %>
   </div>
  </li>

  <% end %>
</ul>