<%= link_to "Create New Listing", new_listing_path %>
<%= current_user.provider %>
<ul>
  <% for listing in @listings %>
  <li><%= link_to listing.name, listing %> | <%= listing.id %> | <%= listing.user.name %> | <%= listing.user.provider %>
  
  <% if can? :destroy, listing %>
  <%= link_to "destroy", listing, :method => :delete %>
  <% end %>
  <% if can? :edit, listing %>
  <%= link_to "edit", edit_listing_path(listing) %>
  <% end %>

  </li>

  <% end %>
</ul>