<%= link_to "Create New Listing", new_listing_path %>

<%= form_tag listings_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag :distance, options_for_select((10..100).step(10)) %>
    <%= select_tag :unit, options_for_select([["miles", :mi], ["km", :km]], :mi) %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<div id="listings">
  <ul id="listings_list">
    <% for listing in @listings %>
    <li id="listing" class="clearfix">
      <% if listing.listing_images.exists? %>
      <%= image_tag listing.listing_images.first.photo.url(:thumb) %>  
      <% end %>
      <div id="listingtitle"><h3><%= link_to listing.name, listing %></h3>
      <p><%= "#{listing.city}, #{listing.state}" %><p>
        <% if can? :destroy, listing %>
          <%= link_to "destroy", listing, :method => :delete %>
        <% end %>
     </div>
    </li>
    <% end %>
  </ul>

  <div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>
</div>

<div id="listing_filter">
  <h4>Property type</h4>
  <%= form_tag listings_path, :method => :get do %>
  <p>
    <%= select_tag :property_type, options_for_select([["Apartment", :ap], ["cabin", "cabin"], ["House", :ho], ["Shared", :sh]], :mi) %>
    <%= hidden_field_tag 'search', params[:search] %> 
    <%# hidden_field :distance, params[:distance] %> 
    <%# hidden_field :unit, :unit %> 
    <%= submit_tag "Filter", :name => nil %>
  </p>
<% end %>
</div>