<%= form_tag listings_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<%= link_to "Create New Listing", new_listing_path %>
<ul>
  <% for listing in @listings %>
  <li><%= link_to listing.name, listing %> | <%= listing.id %> | <%= listing.user.name %> | <%= listing.user.provider %>
  
  <% if can? :destroy, listing %>
  <%= link_to "destroy", listing, :method => :delete %>
  <% end %>
  <% if can? :edit, listing %>
  <%= link_to "edit", edit_listing_path(listing) %>
  <% end %>

  </li>

  <% end %>
</ul>