<%= form_for @user do|u| %>
  <p>
    <%= u.label :name %>
    <%= u.text_field :name %>
  </p>

  <p>
  <%= u.label :email %>
  <%= u.text_field :email %>
  </p>

  <p>
  <%= u.fields_for :profile do |p| %>
    <%= p.label :about %>
    <%= p.text_area :about %>
  <% end %>
  </p>
  <p><%= u.submit "Submit" %></p>
<% end %>