<!DOCTYPE html>
<html>
<head>
  <title>RelocateMe</title>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag    "styles", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
  <div class="wrapper">
    <%= render :partial => "layouts/nav" %>
  </div>
  </header>
  <div class="wrapper">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    <%= yield %>
  </div>
</body>
</html>
