<!DOCTYPE html>
<html>
<head>
  <title>RelocateMe</title>
  <%= stylesheet_link_tag "styles", :media => "all" %>
  <%= stylesheet_link_tag "pages", :media => "all" %>
  <%= stylesheet_link_tag "nivo/nivo-slider", :media => "all" %>
  <%= stylesheet_link_tag "nivo/themes/default/default", :media => "all" %>
  <%= javascript_include_tag "/assets/nivo-slider/jquery.nivo.slider.pack.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
  <div class="wrapper">
    <%= render :partial => "layouts/nav" %>
  </div>
  </header>
  <div class="wrapper">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    <%= yield %>
  </div>
</body>
</html>
