<!DOCTYPE html>
<html lang="en">
<head>
  <title>RelocateMe</title>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag "bootstrap-tab" %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "listings", :media => "all" %>
  <%= stylesheet_link_tag "styles", :media => "all" %>
  <%= stylesheet_link_tag "fotorama", :media => "all" %>
  <%= javascript_include_tag "fotorama" %>
  <%= csrf_meta_tags %>
</head>
<body> 
  <%= render :partial => "layouts/nav" %>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <div class="content">
       <%= yield %>
    </div>
  </div>
</body>
</html>
